<html>
  <title>LOGSING</title>
  <body>
  <h1>LOGSING</h1>
  <% if (logs.length) { %>
    <% logs.forEach(function(log){ %>
      <div style="background-color:lightgrey;"><%= log %></div><br/>
    <% }) %>
  <% } %>
  </body>
</html>
