<html>
  <title>LOGSING</title>
  <body>
  <h1>LOGSING</h1><hr/>
  <i> Let your logs sing for you </i><br/><br/>
  <% if (logs.length) { %>
    <% logs.forEach(function(log){ %>
      <div style='background-color:<%= log.bgColor %>;'><%= log.data %></div><br/>
    <% }) %>
  <% } %>
  </body>
</html>
